<div class="dashboard-container flex-row-container">
  <div class="dashboard-box-item">
    <app-box-common-layout [boxTittle]="'Companies'">
      <ng-container *ngFor="let company of popularCompanies">
        <app-company-list-item [companyData]="company"></app-company-list-item>
      </ng-container>
    </app-box-common-layout>
  </div>
  <div class="dashboard-box-item">
    <app-box-common-layout [boxTittle]="'Reviews'">
      <ng-container *ngFor="let review of mostLikedReviews">
        <app-review-list-item [reviewData]="review"></app-review-list-item>
      </ng-container>
    </app-box-common-layout>
  </div>
</div>
