<div class="main-container">
  <!-- Website Title -->
  <div class="website-title-container">
    <span class="website-title-text">
      Campus Placement Reviews
    </span>
  </div>

  <!-- toolbar -->
  <div class="toolbar-container flex-row-container">

    <!-- To Do : Change to Dynamic Object -->
    <a class="menu-link" [routerLink]="MainRoutes.HOME">
      <div class="toolbar-item cursor-pointer"
        [class.active-menu]="commonObjectService.currentlySelectedMenu === MainRoutes.HOME">
        Home
      </div>
    </a>

    <a class="menu-link" [routerLink]="MainRoutes.DASHBOARD">
      <div class="toolbar-item cursor-pointer"
        [class.active-menu]="commonObjectService.currentlySelectedMenu === MainRoutes.DASHBOARD">
        Dashboard
      </div>
    </a>

    <a class="menu-link" [routerLink]="MainRoutes.COMPANIES">
      <div class="toolbar-item cursor-pointer"
        [class.active-menu]="commonObjectService.currentlySelectedMenu === MainRoutes.COMPANIES">
        Campanies
      </div>
    </a>


    <!-- Static Menus -->
    <div class="flex-grow-full"></div>
    <a class="menu-link" [routerLink]="MainRoutes.COMPANIES">
      <div class="toolbar-item cursor-pointer">
        Sign In
      </div>
    </a>

    <div class="toolbar-item menu-icon-container cursor-pointer">
      <img class="menu-icon" src="/assets/images/menu-24px.svg" alt="menu-icon">
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
