<div class="main-container">
  <!-- Website Title -->
  <div class="website-title-container">
    <span class="website-title-text">
      Campus Placement Reviews
    </span>
  </div>

  <!-- toolbar -->
  <div class="toolbar-container flex-row-container">

    <!-- To Do : Change to Dynamic Object -->
    <a class="menu-link" [routerLink]="MainRoutes.HOME">
      <div class="toolbar-item cursor-pointer"
        [class.active-menu]="commonObjectService.currentlySelectedMenu === MainRoutes.HOME">
        Home
      </div>
    </a>

    <a class="menu-link" [routerLink]="MainRoutes.DASHBOARD">
      <div class="toolbar-item cursor-pointer"
        [class.active-menu]="commonObjectService.currentlySelectedMenu === MainRoutes.DASHBOARD">
        Dashboard
      </div>
    </a>

    <a class="menu-link" [routerLink]="MainRoutes.COMPANIES">
      <div class="toolbar-item cursor-pointer"
        [class.active-menu]="commonObjectService.currentlySelectedMenu === MainRoutes.COMPANIES">
        Campanies
      </div>
    </a>


    <!-- Static Menus -->
    <div class="flex-grow-full"></div>
    <a class="menu-link" [routerLink]="MainRoutes.LOGIN" *ngIf="!userDataService.accessToken">
      <div class="toolbar-item cursor-pointer"
        [class.active-menu]="commonObjectService.currentlySelectedMenu === MainRoutes.LOGIN">
        Sign In
      </div>
    </a>

    <div *ngIf="userDataService.accessToken" class="toolbar-item menu-icon-container cursor-pointer"
      (click)="changeMenuCollapsibleStatus()">
      <img class="menu-icon" src="/assets/images/menu-24px.svg" alt="menu-icon">
    </div>
  </div>

  <!-- Full Screen Loader -->
  <div class="full-screen-spinner-conatiner" *ngIf="commonObjectService.showLoaderCount">
    <mat-progress-spinner color="primary" diameter="80" mode="indeterminate">
    </mat-progress-spinner>
  </div>

  <!-- Menu expantion container -->
  <!-- TODO: remove Not -->
  <div *ngIf="userDataService.accessToken" [@slideInOut]="menuAnimationState"
    class="menu-expantion-container flex-column-container">
    <div class="expantion-menu-item cursor-pointer">
      Profile
    </div>
    <div class="expantion-menu-item cursor-pointer">
      Liked Reviews
    </div>
    <div class="expantion-menu-item cursor-pointer">
      Favourite Companies
    </div>
    <div class="expantion-menu-item cursor-pointer">
      Your Contribution
    </div>

    <div class="logout-button-container">
      <a mat-stroked-button (click)="logout()" color="primary">
        Logout
      </a>
    </div>
  </div>

  <router-outlet></router-outlet>
</div>
