/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.flex-row-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-column-container {
  display: flex;
  flex-direction: column;
}

.flex-grow-full {
  flex-grow: 1;
}

.cursor-pointer {
  cursor: pointer;
}

.text-input-field {
  min-width: 320px;
}

.right-side-button {
  text-align: right;
}

.text-align-center {
  text-align: center;
}

.card-container-top-border {
  background: linear-gradient(0deg, #30a8d4, #65c1e2);
  height: 10px;
  border-radius: 10px 10px 0px 0px;
}

.card-title {
  font-size: 24px;
  padding: 15px 15px 12px;
  font-weight: 500;
}

.blue-divider {
  border-color: #65c1e2;
}

.dashboard-card-container {

  .mat-list-custom-item {
    height: unset !important;
    padding: 5px !important;
    width: unset !important;

    &:hover {
      background-color: #e8e5e580;
    }
  }
}
